@{
    ViewData["Title"] = "Logs";
}

<div id="appDiv">
    <v-app>

        <v-snackbar v-model="showAlert"
                    :top="true"
                    :right="true"
                    :color="alertColor"
                    :timeout="alertTimeout">
            {{ alertMsg }}
            <v-btn dark
                   text
                   v-on:click="showAlert = false">
                Close
            </v-btn>
        </v-snackbar>

        <v-data-table :headers="headers"
                      :items="items"
                      :options.sync="options"
                      :server-items-length="totalItems"
                      :loading="loading"
                      :expanded.sync="expanded"
                      item-key="id"
                      show-expand
                      class="elevation-1">

            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Logs</v-toolbar-title>
                    @*<v-divider class="mx-4" insert vertical></v-divider>*@
                    <v-spacer></v-spacer>
                    <v-select :items="logLevels"
                              v-model="options.logLevels"
                              multiple
                              label="Level"></v-select>
                    <v-spacer></v-spacer>
                    <v-select :items="userNames"
                              v-model="options.userNames"
                              multiple
                              label="User"></v-select>
                    <v-spacer></v-spacer>
                    <v-menu ref="dateMenu"
                            v-model="dateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field v-model="options.date"
                                          label="Date"
                                          prepend-icon="mdi-calendar"
                                          readonly
                                          v-bind="attrs"
                                          v-on="on"></v-text-field>
                        </template>
                        <v-date-picker v-model="options.date"
                                       no-title
                                       scrollable
                                       @@input="dateMenu = false">
                        </v-date-picker>
                    </v-menu>
                    <v-spacer></v-spacer>
                    <v-btn small
                           color="primary"
                           dark
                           v-on:click="getData()">
                        Search
                    </v-btn>

                </v-toolbar>
            </template>

            <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                    {{ item.message }}
                </td>
            </template>

            <template v-slot:no-data>
                <v-btn color="primary" v-on:click="getData()">Reset</v-btn>
            </template>
        </v-data-table>
    </v-app>
</div>

<script>
    new Vue({
        el: '#appDiv',
        vuetify: new Vuetify(),
        data: {
            items: [],
            expanded: [],
            dateMenu: false,
            totalItems: 0,
            loading: true,
            showAlert: false,
            alertMsg: "",
            alertColor: '',
            alertTimeout: 6000,
            options: {
                page: 1,
                itemPerPage: 10,
                sortBy: ['raise_date'],
                sortDesc: [false],
                groupBy: [],
                groupDesc: [],
                multiSort: false,
                mustSort: false,
                search: '',
                userNames: [],
                logLevels: ['Debug', 'Error'],
                date: new Date().toISOString().substr(0, 10)
            },
            userNames: [],
            logLevels: ['Information', 'Warning', 'Debug', 'Error'],
            userProfile: {},
            search: '',
            headers: [
                { text: 'Date', value: 'raise_date_formatted' },
                { text: 'Level', value: 'level' },
                { text: 'Username', value: 'user_name' },
                { text: 'Machine', value: 'machine_name' },
                { text: 'Message', value: 'message_shorten' },
            ],
            valid: false,
            dialog: false,
            editedIndex: -1,
            editedItem: {
                message: '',
            },
        },
        watch: {
            options: {
                handler() {
                    this.getData();
                }
            },
        },
        created() {
            this.getUserProfile();
            this.getUsers();
        },
        methods: {

            getData() {

                if (this.options.logLevels.length == 0
                    || this.options.userNames.length == 0) {
                    this.loading = false;
                    return;
                }

                this.loading = true;
                axios
                    .post('@Url.Action("LoadData", "Logs")', this.options)
                    .then(response => {
                        this.items = response.data.result.data;
                        this.totalItems = response.data.result.total;
                        this.loading = false;
                        //console.log(response.data.result.data);
                    });
            },

            editItem (item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
            },

            searchEntered() {
                this.options.search = this.search;

                if (this.options.search.length == 0) {
                    this.getData();
                }
            },

            getUsers() {
                axios
                    .get('@Url.Action("GetUsers", "Logs")')
                    .then(response => {
                        this.userNames = response.data.result;
                    });
            },

            getUserProfile() {
                axios
                    .get('@Url.Action("GetProfile", "Profile")')
                    .then(response => {
                        this.userProfile = response.data.result;
                        //console.log('userProfile', this.userProfile);
                        this.options.userNames.push(this.userProfile.userName);
                    });
            },

            formatDate(date) {
                if (!date) return null

                const [year, month, day] = date.toString().split('-')
                return `${month}/${day}/${year}`
            },
        }
    })
</script>