@{
    ViewData["Title"] = "Contacts";
}

<partial name="~/Views/Contacts/_ContactsComponent.cshtml" />

<div id="appDiv">
    <v-app>

        <contacts-component v-bind:customerid=""></contacts-component>

    </v-app>
</div>